section{
    text-align: center;
}
.pokemon_img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
}
.pokemon_name{
  border: 1px solid lightgrey;
  padding: 25px;
}
.pokemon_flex{
    display: flex;
    justify-content: space-evenly;
}