.text_center{
    text-align: center;
}
.uncontrol_heading{
    font-size: 40px;
}
.input_value{
        padding: 10px;
    width: 25%;
    margin-left: 20px;
    margin-bottom: 20px;
}
button{
        background: black;
    color: white;
    padding: 15px;
    border-radius: 10px
}